.home__cta {
  margin-top: 6rem;
  text-align: center;

  &__headline {
    color: $black;
    font-size: 2.35rem;
    margin-bottom: .5rem;
  }

  &__sub-headline {
    color: $gray;
    margin-top: .5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.home__form {
  background: $white-d;
  margin: 4rem 0 2rem;
  border: 2px solid $gray-l;
  border-radius: $border-radius;
  padding: 1.5rem 1.5rem .75rem;
  display: flex;
  flex-direction: column;

  & > form {
    flex: 1;
    display: flex;
    margin-bottom: .75rem;
  }

  &__email {
    flex: 8;
    color: $gray-d;
    margin-right: 0;
    border: 2px solid $gray-l;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: 1rem;
    font-size: 1.15rem;
    outline: 0;

    &:hover {
      border-color: $gray;
    }

    &:focus {
      border-color: $red;
    }
  }

  &__button {
    flex: 2;
    background-color: $white;
    color: $gray-d;
    margin-left: 0;
    border: 2px solid $gray-l;
    border-left-width: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: $sans-serif;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &__description {
    color: $gray;
    font-weight: 500;
  }
}