#login {
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: $white-d;
  margin-top: 8rem;
  border: 1px solid $gray-l;
  border-radius: $border-radius;
  padding: 1rem;
  width: 22rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label, input {
    flex: 1;
  }

  label {
    margin-bottom: 4px;
    margin-left: 2px;
    font-size: 1rem;
  }

  input {
    color: #555555;
    border: 1px solid $gray-l;
    border-radius: $border-radius;
    padding: 8px 10px;
    font-size: 1rem;
    outline: 0;

    &:focus {
      border-color: $red;
    }
  }
}

.button-red {
  color: #fff;
  background: $red;
  padding: 8px 10px;
  border: none;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}